#todopage {
  height: 100vh;
  display: flex; 
  gap: 10px;
  overflow: hidden;
  background: #f6f5f5;
}

#userprofile {
  display: flex;
  align-items: left; 
  margin: 0px;
  width: 200px; 
  height: 50px;
}

.number{
  display: flex;
  align-items: center;
  justify-content: center;
}

#userprofile lord-icon {
  /* height: 30px;
  width: 30px; */
  /* overflow: hidden;
  border-radius: 50%;
  border: 2px solid gray;
  opacity: 0.6; */
  /* display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px; */
}

#username {
  margin-left: 10px;
  color: rgb(97, 97, 97);
}

#open-close-navbar {
  position: absolute;
  top: 42px;
  font-size: 20px;
  cursor: pointer;
}

#menu {
  flex: 0.7;
  border-radius: 20px;
  margin: 5px;
  height: 98.5vh;
  padding: 20px;
  overflow-x: hidden;
  z-index: 1;
  color: black;
  border: 2px solid #dddddd;
  transition: 0.5s ease-in-out;
}

#tasks li,
#lists li {
  padding: 10px;
  list-style: none;
  text-decoration: none;
}

#tasks,
#lists {
  margin-top: 40px;
}

#tasks p,
#lists p {
  text-transform: uppercase;
  font-weight: bold;
}

.tasks,
.lists {
  display:flex;
    align-items: center;
    width:100%;
    justify-content: left;
    transition: font-weight 0.3s ease, background 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
    background: #eeeeee;
    margin: 3px;
    color:black;
}

.lists{
  position:relative;
}

.tasks:hover,
.lists:hover {
  background: #dddddd;
}

.lists box-icon{
  position:absolute;
  right:10px;
  transition: 0.2s ease;
}

.lists box-icon:hover{
  transform:scale(1.2);
}

.tasks box-icon {
  opacity: 0.7;
  margin: 10px;
}

.tasks:hover box-icon,
.lists box-icon:hover {
  opacity: 1;
}

#tasks ul, #lists ul{
  width:100%;
  padding:0;
  list-style: none;
}

.tasks:hover{
  background: #dddddd;
   
}

.tasks box-icon{
   opacity:0.7;
   margin:10px;
}

.tasks:hover box-icon{
   opacity:1;
}

.color {
  height: 15px;
  width: 15px;
  background: white;
  display: inline-block;
  margin-left: 15px;
  margin-right: 10px;
  border-radius: 5px;
}

.lists:hover{
  background: #dddddd; 
}

.lists box-icon{
  margin-left: 10px;
}

.number {
  height: 20px;
  width: 20px;
  background: white;
  align-self: center;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}

.number span{
  position: relative;
  left: 5px;
}

.active .tasks {
  background-color: #765BEE;
  color: white;
}

.active .tasks box-icon {
  fill: white;
  color: white;
}

#todos {
  flex: 1;
  padding: 5px;
  display: grid;
  gap: 10px;
  transition: flex 0.5s ease;
  z-index: 1;
}

#todaytasks,
#tomorrowtasks,
#thisweektasks {
  --background: #fff;
  --text: #414856;
  --check: #4f29f0;
  --disabled: #c3c8de;
  --width: 240px;
  --height: auto;
  --border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #dddddd;
  transition: 0.5s ease;
}

#todaytasks {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 20;
}


#tomorrowtasks {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 20;
  grid-row-end: 40;
}

#thisweektasks {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 20;
  grid-row-end: 40;
}

#date {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 0;
  grid-row-end: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background: url("../../../Assets/LoginBG.png");
  background-position: 50%;
  color: white;
  position: relative;
}

#greeting {
  margin-top: 10px;
}

.inputs:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  background: white;
}

.inputs {
  margin: 0px;
  border: 1px solid white;
  width: 130px;
  padding: 5px;
  position: absolute;
  right: 10px;
  background: white;
}

.inputs:active {
  background: #dddddd;
}

#date div {
  height: 100%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  padding: 0 10px;
  width:80px;
}

/* #createNewTask {
  flex: 1;
  height: 100%;
  border-radius: 20px;
  background: #eeeeee;
  margin: 5px;
  padding: 20px;
  display: block;
  transition: 0.5s ease;
  z-index: 1;
  position: relative;
} */

#createNewTask {
  grid-column-start: 5;
  grid-column-end: 10;
  /* padding: 10px; */
  border: 1px solid #dddddd;
  border-radius: 10px;
  grid-row-start: 1;
  grid-row-end: 40;
  position: relative;
  background-color: #F6F5F5;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#createNewTask #addtask,
#createNewTask #description {
  padding: 12px;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 10px 5px;
  border-radius: 5px;
  width: 95%;
  height: 40px;
  border: none;
}

#createNewTask #description {
  margin-top: 7px;
  margin-bottom: 20px;
}

#createNewTask #chooselist,
#dueDate {
  /* padding: 2px; */
  /* margin: 5px; */
  font-size: 14px;
  color:#757575;
}

#buttons {
  width: 70%;
  display: flex;
  position: absolute;
  bottom: 30px;
  align-items: center;
  left: 20px;
}

#buttons button {
  min-width: 60%;
  height:40px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #4f29f0; 
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}

#buttons button:hover {
  transform: scale(1.1);
}

button {
  cursor: pointer;
}

.button {
  position: relative;
  /* left: 4px; */
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 1px solid #4f29f0;
  background-color: #765bee;
  border-radius: 10px;
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  position: absolute;
  transform: translateX(-100%);
  left: 67px;
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(20%);
  height: 100%;
  width: 39px;
  background-color: #4f29f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #4f29f0;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 100%;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #4f29f0;
}

.button:active {
  border: 1px solid #4f29f0;
}

#todaytasks ul,
#tomorrowtasks ul,
#thisweektasks ul {
  list-style: none;
  padding: 0;
}

#todaytasks ul li,
#tomorrowtasks ul li,
#thisweektasks ul li {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding:5px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: background 0.3s ease;
  overflow: hidden;
  padding-left: 15px;
}

.newtodo:hover {
  background: #f2f2f2;
}

.deletetodo:hover {
  transform: scale(1.2);
  fill: #f2472f;
}

.newtodo p {
  font-size: 12px;
  padding: 0;
  margin: 2px;
  display: block;
}

.deletetodo {
  height: 25px;
  width: 25px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: 1%;
  transition: transform 0.3s ease;
}

.newtodo div{
  font-size: 12px;
  align-items: center;
  margin:2px;
  padding:2px;
  display:flex;
  cursor:pointer;
}

#todocalender {
  position: absolute;
  left: 60%;
  height: 25px;
  display: flex;
  color: var(--text);
}

.tododescription {
  position: absolute;
  left: 35%;
  color: var(--text);
}

.newtodo div .taskcolor {
  height: 8px;
  width: 8px;
  border-radius: 3px;
}

#inputnewlist {
  width: 100%;
  height: 40px;
  background: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  font-size: 20px;
  margin-top: 5px;
}

#inputnewlist input {
  position: relative;
  border: none;
}

#inputnewlist #selectedName {
  border: none;
  width: 50%;
  position: relative;
  left: 10px;
  background: transparent;
}

#inputnewlist #selectedColor {
  width: 10%;
  height: 100%;
  background-color: #fff;
}

select {
  height: 100%;
  width: 106%;
  position: absolute;
  border-radius: 5px;
  border:none;
  color:#757575;
  padding-left: 5px;
}

.newtodo .taskTypeStrip {
  position: relative;
  width: 10px;
  height: 35px;
  border-radius: 10px;
  left: -15px;
  margin: 0;
  transform: scaleY(2);
}

#menu .taskTypeDelete:hover {
  fill: #f2472f;
}

#scoreMeterHolder {
  grid-column-start: 5;
  grid-column-end: 10;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  grid-row-start: 1;
  grid-row-end: 20;
  position: relative;
}

.addTaskButton {
  grid-row-start: 0;
  grid-row-end: 1;
  border-radius: 20px;
  border: none;
  background: #765bee;
  grid-column-start: 5;
  grid-column-end: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

#addTaskText {
  font-size: 20px;
  position: relative;
  left: 40%;
}

#addTaskIcon {
  position: relative;
  right: 15px;
  fill: #fff;
}

/* Checkbox Code */
#todaytasks p,
#tomorrowtasks p,
#thisweektasks p {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
  margin-right: 20px;
}

#todaytasks p::before,
#todaytasks p::after,
#tomorrowtasks p::before,
#tomorrowtasks p::after,
#thisweektasks p::before,
#thisweektasks::after {
  content: "";
  position: absolute;
}

#todaytasks p::before,
#tomorrowtasks p::before,
#thisweektasks p::before {
  height: 2px;
  width: 8px;
  left: -30px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}

#todaytasks p:after,
#tomorrowtasks p:after,
#thisweektasks p:after {
  height: 4px;
  width: 4px;
  top: 5px;
  left: -30px;
  border-radius: 50%;
}

#todaytasks input[type="checkbox"],
#tomorrowtasks input[type="checkbox"],
#thisweektasks input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: none;
  display: grid;
  align-items: center;
  margin-right: 20px;
}

#todaytasks input[type="checkbox"]::before,
#todaytasks input[type="checkbox"]::after,
#tomorrowtasks input[type="checkbox"]::before,
#tomorrowtasks input[type="checkbox"]::after,
#thisweektasks input[type="checkbox"]::before,
#thisweektasks input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}

#todaytasks input[type="checkbox"]::before,
#tomorrowtasks input[type="checkbox"]::before,
#thisweektasks input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}

#todaytasks input[type="checkbox"]::after,
#tomorrowtasks input[type="checkbox"]::after,
#thisweektasks input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}

#todaytasks input[type="checkbox"]:checked::before,
#tomorrowtasks input[type="checkbox"]:checked::before,
#thisweektasks input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}

#todaytasks input[type="checkbox"]:checked::after,
#tomorrowtasks input[type="checkbox"]:checked::after,
#thisweektasks input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}

#todaytasks input[type="checkbox"]:checked + p,
#tomorrowtasks input[type="checkbox"]:checked + p,
#thisweektasks input[type="checkbox"]:checked + p {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}

#todaytasks input[type="checkbox"]:checked + p::before,
#tomorrowtasks input[type="checkbox"]:checked + p::before,
#thisweektasks input[type="checkbox"]:checked + p::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}

#todaytasks input[type="checkbox"]:checked + p::after,
#tomorrowtasks input[type="checkbox"]:checked + p::after,
#thisweektasks input[type="checkbox"]:checked + p::after {
  animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }

  100% {
    padding-right: 4px;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }

  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }

  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }

  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}


#chooselist{
  width:90%;
  height:40px;
  background: white;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  left: 7px;
}

#selectListLabel{
  position: absolute;
  top: 40%;
  left: 9px;
}

#chooselist p{
  padding:2px;
}

#chooselist ul{
  list-style-type: none;
  padding:0;
  z-index: 10;
  display:none;
}

#chooselist ul li{
  height:30px;
  background: white;
  padding:5px;
  border: 2px solid #dddddd;
  z-index: 10;
}

#chooselist ul li:first-child {
  background: #cb9dce;
}

#chooselist ul li:nth-child(2) {
  background: #e19ac3;
}

.dueDate {
background: white;
align-items: center;
justify-content: center;
text-align: center;
}

#dueDate{
border:none;
cursor:pointer;
}

#duedatediv{
border-radius: 20px;
padding-left:10px;
width:fit-content;
background: white;
display:flex;
align-items: center;
justify-content: left;
text-align: center;
}

#taskPanel {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#taskPanel.visible {
  display: block;
  opacity: 1;
}

#todaytasks, #tomorrowtasks, #thisweektasks {
  transition: transform 0.5s ease-in-out;
}

.moved {
  transform: translateY(0);
}

#date {
  transition: grid-row-start 0.5s ease-in-out, grid-row-end 0.5s ease-in-out;
}

#undo{
  opacity:0.5;
  cursor:pointer;
  position: relative;
  top: 5px;
  left: 5px;
}

#undo:hover{
  opacity:1;
}

#createNewTask h2 {
  position: relative;
  padding: 12px;
}

#createNewTask #duedatediv {
  position: relative;
  left: 6px;
  width: 95%;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 10px;
}

#taskListAddButton {
  background-color: #4f29f0;
  color: white;
  border-radius: 5px;
  width: 35%;
  position: relative;
  right: -10px;
  font-size: 14px;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#logoutButton{
  display:flex;
  gap:5px;
  align-items: center;
  color:#909090;
  position:absolute;
  bottom:20px;
  font-size: 0.95rem;
  cursor:pointer;
}