#todopage {
  height: 100vh;
  display: flex;
  gap: 10px;
  overflow: hidden;
  background: #f6f5f5;
  position:relative;
}

.description-tooltip {
  position: relative;
  cursor: pointer;
}

.description-full {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  max-width: 500%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.task-name-tooltip{
    position: relative;
}

.task-name-full {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  /* max-width: 500%; */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%); 
  transition: opacity 0.3s;
}

.task-name-tooltip:hover .task-name-full {
    visibility:visible;
    opacity:1;
}

.description-tooltip:hover .description-full {
  visibility: visible;
  opacity: 1;
}


#todos {
  flex: 1;
  padding: 5px;
  display: grid;
  gap: 10px;
  transition: flex 0.5s ease;
  z-index: 1;
  position:relative;
}

#todaytasks,
#tomorrowtasks,
#thisweektasks {
  --background: #fff;
  --text: #414856;
  --check: #4f29f0;
  --disabled: #c3c8de;
  --width: 240px;
  --height: auto;
  --border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #dddddd;
  transition: 0.5s ease;
}

#todaytasks {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 20;
}

/* #score {
  grid-column-start: 6;
  grid-column-end: 10;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  grid-row-start: 1;
  grid-row-end: 20;
  position: relative;
} */

#tomorrowtasks {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 20;
  grid-row-end: 40;
}

#thisweektasks {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 20;
  grid-row-end: 40;
}

#date {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 0;
  grid-row-end: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background: url("../../Assets/LoginBG.png");
  background-position: 50%;
  color: white;
  position: relative;
}

#greeting {
  margin-top: 10px;
}

.inputs:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  background: white;
}

.inputs {
  margin: 0px;
  border: 1px solid white;
  width: 130px;
  padding: 5px;
  position: absolute;
  right: 10px;
  background: white;
}

.inputs:active {
  background: #dddddd;
}

#date div {
  height: 100%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  padding: 0 10px;
}

/* #createNewTask {
  flex: 1;
  height: 100%;
  border-radius: 20px;
  background: #eeeeee;
  margin: 5px;
  padding: 20px;
  display: block;
  transition: 0.5s ease;
  z-index: 1;
  position: relative;
} */

#createNewTask {
  grid-column-start: 5;
  grid-column-end: 8;
  /* padding: 10px; */
  border: 1px solid #dddddd;
  border-radius: 10px;
  /* grid-row-start: 1;
  grid-row-end: 40; */
  position: relative;
  background-color: #F6F5F5;
  height:100%;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#createNewTask #addtask,
#createNewTask #description {
  padding: 12px;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 10px 5px;
  border-radius: 5px;
  width: 95%;
  height: 40px;
  border: none; 
}

#createNewTask #description {
  margin-top: 7px;
  margin-bottom: 20px;
}

#createNewTask #chooselist,
#dueDate {
  /* padding: 2px; */
  /* margin: 5px; */
  font-size: 14px;
  color:#757575;
}

#buttons {
  width: 70%;
  display: flex;
  position: absolute;
  bottom: 30px;
  align-items: center;
  left: 20px;
}

#buttons button {
  min-width: 60%;
  height:40px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #4f29f0;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}

#buttons button:hover {
  transform: scale(1.1);
}

button {
  cursor: pointer;
}

.button {
  position: relative;
  /* left: 4px; */
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 1px solid #4f29f0;
  background-color: #765bee;
  border-radius: 10px;
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  position: absolute;
  transform: translateX(-100%);
  left: 67px;
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(20%);
  height: 100%;
  width: 39px;
  background-color: #4f29f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #4f29f0;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 100%;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #4f29f0;
}

.button:active {
  border: 1px solid #4f29f0;
}

#todaytasks ul,
#tomorrowtasks ul,
#thisweektasks ul {
  list-style: none;
  padding: 0;
}

#todaytasks ul li,
#tomorrowtasks ul li,
#thisweektasks ul li {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding:5px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: background 0.3s ease;
  overflow: hidden; 
  padding-left: 15px;
}

.newtodo{
  cursor:pointer;
}


.newtodo:hover {
  background: #f2f2f2;
}

.deletetodo:hover {
  transform: scale(1.2);
  fill: #f2472f;
}

.newtodo p {
  font-size: 12px;
  padding: 0;
  margin: 2px;
  display: block;
}

.deletetodo {
  height: 25px;
  width: 25px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: 1%;
  transition: transform 0.3s ease;
}

.newtodo div{
  font-size: 12px;
  align-items: center;
  margin:2px;
  padding:2px;
  display:flex;
  cursor:pointer;
}

#todocalender {
  position: absolute;
  left: 60%;
  height: 25px;
  display: flex;
  color: var(--text);
}

.tododescription {
  position: absolute;
  left: 35%;
  color: var(--text);
}

.newtodo div .taskcolor { 
  height: 8px;
  width: 8px;
  border-radius: 3px;
}

#inputnewlist {
  width: 100%;
  height: 40px;
  background: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  font-size: 20px;
  margin-top: 5px;
}

#inputnewlist input {
  position: relative;
  border: none;
}

#inputnewlist #selectedName {
  border: none;
  width: 50%;
  position: relative;
  left: 10px;
  background: transparent;
}

#inputnewlist #selectedColor {
  width: 10%;
  height: 100%;
  background-color: #fff;  
}

#selectlist {
  height: 100%;
  width: 106%;
  position: absolute;
  border-radius: 5px;
  border:none;
  color:#757575;
  padding-left: 5px;
}

.newtodo .taskTypeStrip { 
  position: relative;
  width: 10px;
  height: 35px;
  border-radius: 10px;
  left: -15px;
  margin: 0;
  transform: scaleY(2);  
}

#menu .taskTypeDelete:hover { 
  fill: #f2472f; 
}

#scoreMeterHolder {
  grid-column-start: 5;
  grid-column-end: 8;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  grid-row-start: 1;
  grid-row-end: 20;
  position: relative;

}

#legends{
  position:absolute;
  top:25%;
  right:20%;
  font-size: 1.5vw;
}

#legends li:first-child::marker{
  color:#D54C79;
  font-size: 2vw;
}

#legends li:nth-child(2)::marker{
  color:#FB6D49;
  font-size: 2vw;
}

#legends li:nth-child(3)::marker{
  color:#FFAE47;
  font-size: 2vw;
}

.addTaskButton {
  grid-row-start: 0;
  grid-row-end: 1;
  border-radius: 20px;
  border: none;
  background: #765bee;
  grid-column-start: 5;
  grid-column-end: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

#addTaskText {
  font-size: 20px;
  position: relative;
  left: 40%;
}

#addTaskIcon {
  position: relative;
  right: 15px;
  fill: #fff;
}

/* Checkbox Code */
#todaytasks p,
#tomorrowtasks p,
#thisweektasks p {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
  margin-right: 20px;
}

#todaytasks p::before,
#todaytasks p::after,
#tomorrowtasks p::before,
#tomorrowtasks p::after,
#thisweektasks p::before,
#thisweektasks::after {
  content: "";
  position: absolute;
}

#todaytasks p::before,
#tomorrowtasks p::before,
#thisweektasks p::before {
  height: 2px;
  width: 8px;
  left: -30px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}

#todaytasks p:after,
#tomorrowtasks p:after,
#thisweektasks p:after {
  height: 4px;
  width: 4px;
  top: 5px;
  left: -30px;
  border-radius: 50%;
}

#todaytasks input[type="checkbox"],
#tomorrowtasks input[type="checkbox"],
#thisweektasks input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: none;
  display: grid;
  align-items: center;
  margin-right: 20px;
}

#todaytasks input[type="checkbox"] { 
  transform: scale(1.3);
}

#todaytasks input[type="checkbox"]::before,
#todaytasks input[type="checkbox"]::after,
#tomorrowtasks input[type="checkbox"]::before,
#tomorrowtasks input[type="checkbox"]::after,
#thisweektasks input[type="checkbox"]::before,
#thisweektasks input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}

#todaytasks input[type="checkbox"]::before,
#tomorrowtasks input[type="checkbox"]::before,
#thisweektasks input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}

#todaytasks input[type="checkbox"]::after,
#tomorrowtasks input[type="checkbox"]::after,
#thisweektasks input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}

#todaytasks input[type="checkbox"]:checked::before,
#tomorrowtasks input[type="checkbox"]:checked::before,
#thisweektasks input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}

#todaytasks input[type="checkbox"]:checked::after,
#tomorrowtasks input[type="checkbox"]:checked::after,
#thisweektasks input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}

#todaytasks input[type="checkbox"]:checked + p,
#tomorrowtasks input[type="checkbox"]:checked + p,
#thisweektasks input[type="checkbox"]:checked + p {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}

#todaytasks input[type="checkbox"]:checked + p::before,
#tomorrowtasks input[type="checkbox"]:checked + p::before,
#thisweektasks input[type="checkbox"]:checked + p::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}

#todaytasks input[type="checkbox"]:checked + p::after,
#tomorrowtasks input[type="checkbox"]:checked + p::after,
#thisweektasks input[type="checkbox"]:checked + p::after {
  animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }

  100% {
    padding-right: 4px;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }

  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }

  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }

  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}


#chooselist{
  width:90%;
  height:40px;
  background: white;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  left: 7px;
}

#selectListLabel{
  position: absolute;
  top: 40%;
  left: 9px;
}

#chooselist p{
  padding:2px;
}

#chooselist ul{
  list-style-type: none;
  padding:0;
  z-index: 10;
  display:none;
}

#chooselist ul li{
  height:30px;
  background: white;
  padding:5px;
  border: 2px solid #dddddd;
  z-index: 10;
}

#chooselist ul li:first-child {
  background: #cb9dce;
}

#chooselist ul li:nth-child(2) {
  background: #e19ac3;
}

.dueDate {
background: white;
align-items: center;
justify-content: center;
text-align: center;
}

#dueDate{
border:none;
cursor:pointer;
}

#duedatediv{
border-radius: 20px;
padding-left:10px;
width:fit-content;
background: white;
display:flex;
align-items: center;
justify-content: left;
text-align: center;
}

#taskPanel {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#taskPanel.visible {
  display: block;
  opacity: 1;
}

#todaytasks, #tomorrowtasks, #thisweektasks {
  transition: transform 0.5s ease-in-out;
}

.moved {
  transform: translateY(0);
}

#date {
  transition: grid-row-start 0.5s ease-in-out, grid-row-end 0.5s ease-in-out;
}

#undo{
  opacity:0.5;
  cursor:pointer;
  position: absolute;
  top: 5px;
  left: 5px;
}

#undo:hover{
  opacity:1;
}

#createNewTask h2 {
  position: relative;
  padding: 12px;
}

#createNewTask #duedatediv {
  position: relative;
  left: 6px;
  width: 95%;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 10px;
}

#taskListAddButton {
  background-color: #4f29f0;
  color: white;
  border-radius: 5px;
  width: 35%;
  position: relative;
  right: -10px;
  font-size: 14px;
  border: none;
}

#tododuedate{
  position: relative;
  bottom: 2.5px;
}

@keyframes expandPanel {
  from {
    width: 0;

  }
  to {
    width: 47%;
   
  }
}

@keyframes collapsePanel {
  from {
    width: 47%;

  }
  to {
    width: 0;

  }
}

.addTaskPanel {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  background-color: #fff; /* Or any background color of the panel */
  z-index: 10;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
  width: 0; /* Initial width */
  border-radius: 10px;
}

.addTaskPanel.visible {
  animation: expandPanel 0.5s forwards ease-in-out;
}

.addTaskPanel.hidden {
  animation: collapsePanel 0.5s forwards ease-in-out;
}

#taskColordiv{
  height: 200px;
  width:100%;
}

#showTask{
  padding:20px;
  position:relative;
  /* overflow-y: scroll;
  height:100%; */
}

#taskColordiv{
  border-radius: 20px;
  padding:10px;
}

#taskDetails{
  padding:10px;
}

#showheading{
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

#undoButton{
  cursor:pointer;
  position:absolute;
}

#showheading{
  color:white;
  width:100%;
  text-align: center;
}

#showheading span{
  font-size: 1.5rem;
  width:80%;
}

#showdate{
  color:white;
  height:fit-content;
  display:flex;
  align-items: center;
}

#showheading{
  font-size: 1.2rem;
}

#showText{
  height:20px;
  width:20px;
  background: black;
  z-index: 100;
  display: none;
}

.newtodo:hover #showText{
  display:block;
}

.calendar-container1 {
  background-color: #fff;
  padding: 16px;
  margin-bottom: 10px;
}

.calendar-container__header {
  display: flex;
  justify-content: space-between;
}

/* Calendar table */
.calendar-table {
  margin-top: 12px;
  width: 100%;
}

.calendar-table__item {
  border: 2px solid transparent;
  border-radius: 50%;
  color: #424588;
  font-size: 12px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calendar-table__item:hover {
  background: #f8fafa;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  transition: 0.2s all ease-in;
}

.calendar-table__row {
  display: flex;
  justify-content: space-between;
}

.calendar-table__header {
  border-bottom: 2px solid #F2F6F8;
  margin-bottom: 4px;
}

.calendar-table__col {
  display: inline-block;
  color: #99A4AE;
  font-size: 12px;
  font-weight: 700;
  padding: 12px 3px;
  text-align: center;
  text-transform: uppercase;
  width: 40px;
  height: 38px;
}

.calendar-table__body .calendar-table__col {
  width: 40px;
  height: 42px;
  padding-bottom: 2px;
}

.calendar-table__today .calendar-table__item {
  border-color: #FEFEFE;
  background-color: #F2F6F8;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.calendar-table__event .calendar-table__item {
  background-color: #66DCEC;
  border-color: #FEFEFE;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.calendar-table__event--long .calendar-table__item {
  border-radius: 0;
  border-width: 2px 0;
}

.calendar-table__event--start .calendar-table__item {
  border-left: 2px solid #fff;
  border-radius: 50% 0 0 50%;
}

.calendar-table__event--end .calendar-table__item {
  border-right: 2px solid #fff;
  border-radius: 0 50% 50% 0;
}

.calendar-table__inactive .calendar-table__item {
  color: #DCDCE3;
  cursor: default;
}

.calendar-table__inactive .calendar-table__item:hover {
  background: transparent;
  box-shadow: none;
}

.prev-month{
  color:#eee;
}

.next-month{
  color:#eee;
}

#winter,
#spring,
#summer,
#fall {
  visibility: hidden;
}

#winter.winter,
#spring.spring,
#summer.summer,
#fall.fall {
  visibility: visible;
}

.draw-circle,
.header__season {
  position: absolute;
}

.draw-circle svg {
  position: relative;
  left: 5px;
  top: 5px;
}

#cal_svg{
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 900;

}

#calendar-combined{
  /* padding-top: 30px; */
}

/* #ActiveDay{
  background-color: #F47C9D;
  color: white;
} */

#taskdate{
  display:flex;
  align-items: center;
}

#taskdate box-icon{
  height:17px;
}

#showTaskDetails{
  padding:10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  /* overflow-y: scroll;
  max-height: 250px; */
}

#thisdiv{
  display:flex;
  justify-content: space-between;
}

#taskheading{
  font-size: 1.2rem;
  font-weight: 500;
}

#taskdescription{
  max-height: 200px;
  overflow-y: scroll;
}

#taskdescription::-webkit-scrollbar {
  display: none;
}